<div class="d-flex mb-4">
  <input [(ngModel)]="saisieInputUrl" class="input-url" />
  <div class="bouton" (click)="onClicAjouterElement()">
    <span>Ajouter l'élement</span>
  </div>
</div>

<div class="d-flex mb-4">
  <input [(ngModel)]="saisieInputCategorie" class="input-url" />
  <div class="bouton" (click)="onClicAjouterCategorie()">
    <span>Ajouter la catégorie</span>
  </div>
</div>

<div class="categories">
  @for (categorie of categories; let indexCategorie = $index ; track
  indexCategorie) {

  <div class="categorie">
    <div class="en-tete">
      <span>{{ categorie.titre }}</span>

      @if(categories.length > 1 ) {

      <div
        class="mini-bouton bouton-supprime"
        (click)="onClicBoutonSupprimeCategorie(indexCategorie)"
      >
        <span>X</span>
      </div>
      }
    </div>

    <div class="elements d-flex">
      @for (item of categorie.elements; let indexElement = $index ; track
      indexElement) {

      <div class="image">
        <img src="{{ item }}" />

        @if (indexCategorie > 0) {

        <div
          class="mini-bouton bouton-haut"
          (click)="onClicBoutonHaut(indexCategorie, indexElement)"
        >
          <span>&#x25B2;</span>
        </div>

        } @if(indexCategorie < categories.length - 1) {

        <div
          class="mini-bouton bouton-bas"
          (click)="onClicBoutonBas(indexCategorie, indexElement)"
        >
          <span>&#x25BC;</span>
        </div>

        }

        <div
          class="mini-bouton bouton-supprime"
          (click)="onClicBoutonSupprimeElement(indexCategorie, indexElement)"
        >
          <span>X</span>
        </div>
      </div>

      }
    </div>
  </div>

  }
</div>
