.input-url {
  width: 500px;
}

.bouton {
  width: 200px;
  height: 40px;
  background-color: #0022ff;
  color: white;
  text-align: center;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.categories {
  .categorie {
    height: 70px;
    width: 100%;
    margin-bottom: 3px;
    display: flex;

    .en-tete {
      width: 70px;
      background-color: #fb00ff;
      display: grid;
      place-items: center;
      position: relative;

      span {
        word-wrap: break-word;
        width: inherit;
        text-align: center;
      }

      &:hover .mini-bouton {
        display: flex;
      }
    }

    .image {
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
      }

      position: relative;

      .bouton-haut {
        left: 3px;
        top: 3px;
        background-color: green;

        &:hover {
          background-color: rgb(1, 100, 1);
        }
      }

      .bouton-bas {
        left: 3px;
        bottom: 3px;
        background-color: orange;

        &:hover {
          background-color: rgb(216, 133, 0);
        }
      }

      &:hover .mini-bouton {
        display: flex;
      }
    }

    .bouton-supprime {
      right: 3px;
      top: 3px;
      background-color: red;

      &:hover {
        background-color: rgb(190, 0, 0);
      }
    }

    .mini-bouton {
      border: 1px solid black;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: none;
      cursor: pointer;
      user-select: none;
    }
  }

  .categorie:nth-child(1) .en-tete {
    background-color: #ff0000;
  }

  .categorie:nth-child(2) .en-tete {
    background-color: #ff7700;
  }

  .categorie:nth-child(3) .en-tete {
    background-color: #ffea00;
  }

  .categorie:nth-child(4) .en-tete {
    background-color: #22ff00;
  }

  .categorie:nth-child(5) .en-tete {
    background-color: #00ffbb;
  }

  .categorie:nth-child(6) .en-tete {
    background-color: #0022ff;
  }
}
